.hidden {
    visibility: hidden;
}

#js-error-message   {
    color: red;
    font-weight: bold;
}

.address    {
    margin-left: 15px;
    padding: 15px;
    background-color: rgb(235, 228, 235);
}